@model IEnumerable<gamecatalog.Models.Game>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Catalogo de Games</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr class="table-info">
            <th scope="col">#Id</th>
            <th scope="col">Console</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data da Compra</th>
            <th scope="col">Finalizado</th>
            <th scope="col">Data da Finalização</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.console</td>
                <td>@item.nome </td>
                <td>@item.descricao</td>
                <td>@item.datacompra</td>
                <td>@item.finalizado</td>
                <td>@item.datafinalizacao</td>
            <td>
                @Html.ActionLink("Details", "Details", "Game", new { id = item.id }, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
            </td>
            </tr>
        }
    </tbody>
</table>